$osac-color-gold: #b59153;
$osac-color: #048010;
$osac-color-light: #1ebd11;
$osac-color-line: #3a5e8e;
$osac-color-line-hover: #5e9ae7;


//@media (min-width: 576px) {  }
//
//@media (min-width: 768px) {  }
//
//@media (min-width: 992px) {  }
//
//@media (min-width: 1200px) {  }
