@import '../components/styles/global';

.gt {
  &__title {
    color: $osac-color;
  }

  &__image {
    width: 100%;
  }

  strong {
    color: $osac-color !important;
  }
}

.banner {
  height: 300px;
  background-image: url('https://lh3.googleusercontent.com/proxy/t-YrgKX-Kuqm7uZ6hCOPAEYozZZ6KjCqWfwp1e69O9VJHfIXgmd5h4Eh2XbQKA9Pq8cJ904F7wsjmoai11ZAAsbrJ3Tcig8wr1FdXVBi1eRGDOUmTkN3Z8RkDrnqvPWDpt-PPAnETKwwvvZP-B8IzSVMFr8');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__image {
    width: 100%;
  }
}
