.News {
  // height: 550px;
  width: 95%;
  margin: auto;
  padding: 20px 0 50px 0;
  &__Content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

// Small devices (landscape phones, 576px and up) - iphone ngang
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up) - ipad doc
@media (min-width: 768px) { 
  .News {
    &__Content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

// Large devices (desktops, 992px and up) - ipad ngang
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}